
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Transaction id</th>
        <th scope="col">Receiver name</th>
        <th scope="col">Receiver bank name</th>
        <th scope="col">Amount transferred</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Chandana</td>
        <td>HDFC</td>
        <td>Rs.500</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Udhay</td>
        <td>AXIS</td>
        <td>Rs.2000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Purna</td>
        <td>ICICI</td>
        <td>Rs.4000</td>
      </tr>
    </tbody>
  </table>